@media(min-width:768px){.elementor-926 .elementor-element.elementor-element-0614b18{width:69.357%;}.elementor-926 .elementor-element.elementor-element-4eddace{width:29.934%;}}/* Start custom CSS for html, class: .elementor-element-3aeda25 */.gioi-thieu-chung{
     border-radius: 9px;
    border: 1px solid #dfd7d7;
}
#content {
    padding: 5px
}
#outline .c h1{
    text-align: center;/* End custom CSS */