/* Start custom CSS for html, class: .elementor-element-880b2b6 */#foot {
    color: #333;
    width: 100%;
}
#footer {
    font: 12px Arial,Helvetica;
    width: 100%;
    line-height: 18px;
    color: #d9e3f3;
    position: relative;
    border-top: 1px solid #eee;
}
#footer span * {
    font-family: Arial,Helvetica,Verdana,Tahoma;
    font-size: 12px;
}
#footer> span > a {
    color: #d6d0eb;
}

#powered {
    position: absolute;
    top: 10px;
    right: 5px;
    float: right;
    text-align: right;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1ad75f1 */.container {
     width: unset!important; 
     max-width: unset!important; 
     margin: unset!important; 
}/* End custom CSS */